<% provide(:title, "About") %>
<h1>About</h1>
<h3><p>The Riverside food and shelter system allows various providers of food
  ,clothing and shelter to coordinate their activities.
  This web application allows employees who work at food pantries and shelters to more effectively provide service to clients. </p> </h3>