<% provide(:title, "Contact") %>
<h1>Contact Us</h1>

<h5>Name: Bhavin Patel
<br>
    Email: BhavinD.Patel@calbaptist.edu
    <br>
    <br>
    Name: Shwetha Acharya
    <br>
    Email: Shwetha.Acharya@calbaptist.edu</h5>