<% provide(:title, 'All Employees') %>
<h1>Employee List</h1>
<%= image_tag("employee.jpg", alt: "Image", height: "350px", width: "500px", :align => "middle") %>
<ul class="users">
  <% @employees.each do |employee| %>
    <li>
      <%= link_to employee.name, employee %>
      | <%= link_to "Delete", employee, method: :delete,
                                  data: { confirm: "Are You sure you want to delete this employee?" } %>
    </li>
  <% end %>
</ul>