<% provide(:title, 'Find my place') %>
<h1>Find Food and Shelter Service Providers</h1>


<iframe width="1200" height="600" frameborder="1" style="border:1"
 src="https://www.google.com/maps/embed/v1/place?key=AIzaSyC-ta8yoO0bVlfEzISQFNuPBIfoQ5OaBMM&q=8230 Magnolia Ave, Riverside, CA, 92504"
 allowfullscreen>
</iframe>

 <!--<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC-ta8yoO0bVlfEzISQFNuPBIfoQ5OaBMM" async defer></script>-->