<% provide(:title, 'All Sites') %>
<h1>List of Sites or Locations</h1>
<%= image_tag("site.png", alt: "Image", height: "350px", width: "800px", :align => "middle") %>
<ul class="users">
  <% @sites.each do |site| %>
    <li>
      <%= link_to site.site_name, site %>
    </li>
  <% end %>
</ul>